.h3,.h4,.h5
{
	font-family: arimo-n4, sans-serif;
}

.Footer-h6,.h1,.Paragraph-Style
{
	font-family: arimo-n7, sans-serif;
}

#u1529-4
{
	font-family: arimo-n4, sans-serif;
}

#u1524-4
{
	font-family: arimo-n4, sans-serif;
}

#u1504-4
{
	font-family: arimo-n4, sans-serif;
}

#u1519-4
{
	font-family: arimo-n4, sans-serif;
}

#u1510-4
{
	font-family: arimo-n4, sans-serif;
}

#u1548-6
{
	font-family: arimo-n4, sans-serif;
}

#u1570-4
{
	font-family: arimo-n4, sans-serif;
}

#u1555-4
{
	font-family: arimo-n4, sans-serif;
}

#u1562-4
{
	font-family: arimo-n4, sans-serif;
}

#u1598-4
{
	font-family: arimo-n4, sans-serif;
}

#u1586-4
{
	font-family: arimo-n4, sans-serif;
}

#u1595-4
{
	font-family: arimo-n4, sans-serif;
}

#u1578-4
{
	font-family: arimo-n4, sans-serif;
}

#u1605-4
{
	font-family: arimo-n4, sans-serif;
}

#u1493-4
{
	font-family: arimo-n4, sans-serif;
}

