.h3,.h4,.h5
{
	font-family: arimo-n4, sans-serif;
}

.Footer-h6,.h1,.Paragraph-Style
{
	font-family: arimo-n7, sans-serif;
}

#u1100-4
{
	font-family: arimo-n4, sans-serif;
}

#u1220-4
{
	font-family: arimo-n4, sans-serif;
}

#u390-4
{
	font-family: arimo-n4, sans-serif;
}

