.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 761px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
}

#u1494
{
	z-index: 7;
	width: 960px;
	padding-bottom: 52px;
}

#u1495-7
{
	z-index: 8;
	width: 315px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 23px;
}

#menuu1496
{
	z-index: 15;
	width: 446px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 490px;
}

#u1525
{
	width: 87px;
	min-height: 20px;
	margin-right: -10000px;
}

#u1526
{
	width: 87px;
	padding-bottom: 7px;
}

#u1526:hover
{
	margin: 0px;
}

#u1526:active
{
	margin: 0px;
}

#u1529-4
{
	width: 87px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1526:hover #u1529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1526:active #u1529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1497
{
	width: 87px;
	min-height: 20px;
	margin-right: -10000px;
	left: 89px;
}

#u1521
{
	width: 85px;
	padding-bottom: 7px;
}

#u1521:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1521.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1524-4
{
	width: 85px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1526.MuseMenuActive #u1529-4,#u1521:hover #u1524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1521:active #u1524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1499
{
	width: 109px;
}

#u1526.MuseMenuActive,#u1499:hover
{
	margin: 0px;
}

#u1503
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1503:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1503:active
{
	margin: 0px -10000px 0px 0px;
}

#u1504-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1503:hover #u1504-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1503:active #u1504-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1517
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1503.MuseMenuActive,#u1517:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1519-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1503.MuseMenuActive #u1504-4,#u1517:hover #u1519-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1517:active #u1519-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1508
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1517.MuseMenuActive,#u1508:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1510-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1517.MuseMenuActive #u1519-4,#u1508:hover #u1510-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1508:active #u1510-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1544
{
	width: 88px;
	min-height: 20px;
	margin-right: -10000px;
	left: 178px;
}

#u1545
{
	width: 88px;
	padding-bottom: 7px;
}

#u1499:active,#u1545:active
{
	margin: 0px;
}

#u1548-6
{
	width: 88px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1521.MuseMenuActive #u1524-4,#u1545:hover #u1548-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1545:active #u1548-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1500,#u1514,#u1507,#u1550
{
	width: 109px;
}

#u1545.MuseMenuActive,#u1550:hover
{
	margin: 0px;
}

#u1568
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1508.MuseMenuActive,#u1568:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1568:active
{
	margin: 0px -10000px 0px 0px;
}

#u1570-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1508.MuseMenuActive #u1510-4,#u1568:hover #u1570-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1568:active #u1570-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1554
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1568.MuseMenuActive,#u1554:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1555-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1568.MuseMenuActive #u1570-4,#u1554:hover #u1555-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1554:active #u1555-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1561
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1554.MuseMenuActive,#u1561:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1562-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1554.MuseMenuActive #u1555-4,#u1561:hover #u1562-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1561:active #u1562-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1572
{
	width: 88px;
	min-height: 20px;
	margin-right: -10000px;
	left: 268px;
}

#u1596
{
	width: 86px;
	padding-bottom: 7px;
}

#u1596:active
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u1596.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u1598-4
{
	width: 86px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1545.MuseMenuActive #u1548-6,#u1596:hover #u1598-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1596:active #u1598-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1498,#u1549,#u1573
{
	width: 109px;
	top: 20px;
}

#u1565,#u1551,#u1558,#u1574
{
	width: 109px;
}

#u1550:active,#u1574:hover
{
	margin: 0px;
}

#u1583
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1561.MuseMenuActive,#u1583:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1583:active
{
	margin: 0px -10000px 0px 0px;
}

#u1586-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1561.MuseMenuActive #u1562-4,#u1583:hover #u1586-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1583:active #u1586-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1592
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1583.MuseMenuActive,#u1592:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1595-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1583.MuseMenuActive #u1586-4,#u1592:hover #u1595-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1592:active #u1595-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1582,#u1589,#u1575
{
	width: 109px;
}

#u1576
{
	width: 109px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1592.MuseMenuActive,#u1576:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1576.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u1578-4
{
	width: 101px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1592.MuseMenuActive #u1595-4,#u1576:hover #u1578-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1576:active #u1578-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1576.MuseMenuActive #u1578-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1601
{
	width: 88px;
	min-height: 20px;
	margin-right: -10000px;
	left: 358px;
}

#u1602
{
	width: 88px;
	padding-bottom: 7px;
}

#u1574:active,#u1602:active
{
	margin: 0px;
}

#u1602.MuseMenuActive
{
	margin: 0px;
}

#u1605-4
{
	width: 88px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1596.MuseMenuActive #u1598-4,#u1602:hover #u1605-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1602:active #u1605-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1602.MuseMenuActive #u1605-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#pu548
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 25px;
	position: relative;
}

#u548
{
	z-index: 150;
	width: 370px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

.samples
{
	border-width: 1px;
	border-style: solid;
	border-color: #00654C;
	background-color: transparent;
}

#u548_img
{
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 8px;
}

#u522
{
	z-index: 147;
	width: 214px;
	height: 292px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 390px;
	background: transparent url("../images/laugh%20copy-u522-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu456-6
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 625px;
}

#u456-6
{
	z-index: 108;
	width: 211px;
	min-height: 75px;
	position: relative;
}

#u457-30
{
	z-index: 114;
	width: 215px;
	min-height: 239px;
	margin-top: 4px;
	position: relative;
}

#pu517
{
	width: 0.01px;
	margin-left: 100px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u517
{
	z-index: 146;
	width: 214px;
	height: 292px;
	border-width: 1px;
	border-style: solid;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../images/gourmet-u517-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u537
{
	z-index: 148;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 235px;
}

#u537_clip
{
	overflow: hidden;
	width: 213px;
	height: 291px;
}

#u537_img
{
	margin-left: 13px;
	margin-right: 11px;
	margin-bottom: -1px;
}

#u497
{
	z-index: 144;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 469px;
}

#u497_img
{
	padding-left: 13px;
	padding-right: 11px;
}

#pu1862
{
	width: 0.01px;
	margin-left: 101px;
	margin-top: 25px;
	position: relative;
}

#u1862
{
	z-index: 152;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u2057
{
	z-index: 154;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 232px;
}

#u1492
{
	z-index: 2;
	width: 960px;
	padding-bottom: 19px;
	margin-top: 32px;
}

#u1493-4
{
	z-index: 3;
	width: 488px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 237px;
}

body
{
	padding-top: 35px;
	padding-bottom: 143px;
}

#page .verticalspacer
{
	clear: both;
}

