.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u955
{
	z-index: 7;
	width: 960px;
	padding-bottom: 52px;
}

#u958-7
{
	z-index: 8;
	width: 315px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 23px;
}

#menuu971
{
	z-index: 15;
	width: 222px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 714px;
}

#u1097
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
}

#u1098
{
	width: 110px;
	padding-bottom: 7px;
}

#u1098:hover
{
	margin: 0px;
}

#u1098:active
{
	margin: 0px;
}

#u1098.MuseMenuActive
{
	margin: 0px;
}

#u1100-4
{
	width: 110px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1098:hover #u1100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1098:active #u1100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1193
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	left: 112px;
}

#u1217
{
	width: 109px;
	padding-bottom: 7px;
}

#u1217:active
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1217.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1220-4
{
	width: 109px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1098.MuseMenuActive #u1100-4,#u1217:hover #u1220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1217:active #u1220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1217.MuseMenuActive #u1220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#tab-panelu1677
{
	z-index: 28;
	width: 722px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	margin-left: 119px;
	margin-top: 45px;
	position: relative;
}

.samples
{
	border-width: 1px;
	border-style: solid;
	border-color: #00654C;
	background-color: transparent;
}

#u1678
{
	z-index: 29;
	width: 723px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#u1678:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u1683
{
	z-index: 30;
	width: 239px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1683:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	width: 239px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1683:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E9F3F4;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	width: 239px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1683.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #00654C;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	width: 239px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1686-4
{
	z-index: 31;
	width: 239px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1683:hover #u1686-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1683:active #u1686-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1683.TabbedPanelsTabSelected #u1686-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1683:hover #u1686-4 p,#u1683:hover #u1686-4 h2
{
	font-size: 15px;
	text-decoration: underline;
}

#u1683:active #u1686-4 p,#u1683:active #u1686-4 h2
{
	font-size: 12px;
	text-decoration: underline;
}

#u1687
{
	z-index: 35;
	width: 240px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u1687:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	width: 240px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1687:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E9F3F4;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	width: 240px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1690-4
{
	z-index: 36;
	width: 240px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 1.4;
	color: #00654C;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1687:hover #u1690-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1687:active #u1690-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1687:hover #u1690-4 p
{
	font-size: 15px;
	text-decoration: underline;
}

#u1687:active #u1690-4 p
{
	font-size: 12px;
	text-decoration: underline;
}

#u1679
{
	z-index: 40;
	width: 240px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u1679:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	width: 240px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1679:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E9F3F4;
	-moz-border-radius: 8px 8px 0px 0px ;
	-webkit-border-radius: 8px 8px 0px 0px ;
	-khtml-border-radius: 8px 8px 0px 0px ;
	border-radius: 8px 8px 0px 0px ;
	width: 240px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1687.TabbedPanelsTabSelected,#u1679.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #00654C;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	width: 240px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1682-4
{
	z-index: 41;
	width: 240px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 1.4;
	color: #00654C;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1679:hover #u1682-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1679:active #u1682-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1687.TabbedPanelsTabSelected #u1690-4,#u1679.TabbedPanelsTabSelected #u1682-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1679:hover #u1682-4 p
{
	font-size: 15px;
	text-decoration: underline;
}

#u1679:active #u1682-4 p
{
	font-size: 12px;
	text-decoration: underline;
}

#u1683.TabbedPanelsTabSelected #u1686-4 p,#u1683.TabbedPanelsTabSelected #u1686-4 h2,#u1687.TabbedPanelsTabSelected #u1690-4 p,#u1679.TabbedPanelsTabSelected #u1682-4 p
{
	color: #00654C;
	visibility: inherit;
	font-size: 15px;
	line-height: 1.4;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0px;
}

#u1691
{
	z-index: 45;
	width: 723px;
	left: -1px;
	position: relative;
}

#u1702
{
	z-index: 46;
	width: 721px;
	border-style: solid;
	padding-bottom: 40px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1703
{
	z-index: 63;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	border-color: #00654C;
	position: relative;
}

#u1708-4
{
	z-index: 47;
	width: 214px;
	min-height: 40px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#pu1706
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 253px;
}

#u1706
{
	z-index: 61;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1705-4
{
	z-index: 51;
	width: 214px;
	min-height: 40px;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#pu1709
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 487px;
}

#u1709
{
	z-index: 59;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1706_img,#u1709_img
{
	margin-right: -2px;
	margin-bottom: -2px;
}

#u1711-4
{
	z-index: 55;
	width: 214px;
	min-height: 40px;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u1692
{
	z-index: 65;
	width: 721px;
	border-style: solid;
	padding-bottom: 40px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1695
{
	z-index: 78;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1695_img
{
	margin: 1px -6px 27px -12px;
}

#u1701-4
{
	z-index: 66;
	width: 214px;
	min-height: 40px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u1693
{
	z-index: 80;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1693_img
{
	margin: -33px 36px -16px -131px;
}

#u1699-4
{
	z-index: 70;
	width: 214px;
	min-height: 40px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#pu1697
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 487px;
}

#u1697
{
	z-index: 82;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1697_img
{
	margin-left: -123px;
	margin-right: -386px;
	margin-bottom: -51px;
}

#u1700-4
{
	z-index: 74;
	width: 214px;
	min-height: 40px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u1712
{
	z-index: 84;
	width: 721px;
	border-style: solid;
	padding-bottom: 40px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#pu1703,#pu1695,#pu1713
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 19px;
}

#u1713
{
	z-index: 104;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1706_clip,#u1709_clip,#u1695_clip,#u1693_clip,#u1697_clip,#u1713_clip
{
	overflow: hidden;
	width: 214px;
	height: 214px;
}

#u1713_img
{
	margin-right: -1px;
	margin-bottom: -318px;
}

#u1716-5
{
	z-index: 85;
	width: 214px;
	min-height: 40px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#pu1693,#pu1719
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 253px;
}

#u1719
{
	z-index: 102;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1719_img
{
	padding-right: 1px;
}

#u1715-4
{
	z-index: 90;
	width: 214px;
	min-height: 40px;
	margin-left: 2px;
	margin-top: 15px;
	position: relative;
}

#pu1717
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 488px;
}

#u1717
{
	z-index: 100;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1717_img
{
	padding-right: 1px;
	padding-bottom: 6px;
}

#u1721-6
{
	z-index: 94;
	width: 214px;
	min-height: 40px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u968
{
	z-index: 2;
	width: 960px;
	padding-bottom: 21px;
	margin-top: 152px;
}

#u390-4
{
	z-index: 3;
	width: 488px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 237px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

