.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u955
{
	z-index: 7;
	width: 960px;
	padding-bottom: 52px;
}

#u958-7
{
	z-index: 8;
	width: 315px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 23px;
}

#menuu971
{
	z-index: 15;
	width: 222px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 714px;
}

#u1097
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
}

#u1098
{
	width: 110px;
	padding-bottom: 7px;
}

#u1098:hover
{
	margin: 0px;
}

#u1098:active
{
	margin: 0px;
}

#u1098.MuseMenuActive
{
	margin: 0px;
}

#u1100-4
{
	width: 110px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1098:hover #u1100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1098:active #u1100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1193
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	left: 112px;
}

#u1217
{
	width: 109px;
	padding-bottom: 7px;
}

#u1217:active
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1217.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1220-4
{
	width: 109px;
	min-height: 13px;
	margin-right: -10000px;
	top: 3px;
}

#u1098.MuseMenuActive #u1100-4,#u1217:hover #u1220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1217:active #u1220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1217.MuseMenuActive #u1220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1762-4
{
	z-index: 28;
	width: 200px;
	margin-left: 390px;
	margin-top: 295px;
	position: relative;
}

#u968
{
	z-index: 2;
	width: 960px;
	padding-bottom: 21px;
	margin-top: 275px;
}

#u390-4
{
	z-index: 3;
	width: 488px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 237px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

